@model IEnumerable<InventoryModule.Models.Masters.Ledger>

@{
    ViewData["Title"] = "Ledger View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>  @ViewData["Title"]  </h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LedgerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.LedgerGroups)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LedgerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LedgerGroups.LedgerGroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LedgerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LedgerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LedgerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
